body {
  font-size: 16px;
  line-height: 50px;
  text-align: center;
}

h1 {
  font-size: 65px;
  color: orange;
  font-style: italic;
  font-family: sans-serif;
  text-decoration: underline;
}

p {
  font-size: 3em;
  font-weight: 600;
}

#yellow {
  background-color: yellow;
}

#red {
  background-color: red;
}

#brown {
  background-color: brown;
}

.modificando {
  background-color: cyan;
}
