* {
  margin: 0;
}

body {
  text-align: center;

  background-color: aqua;
}

header {

  padding: 20px;

  background-color: bisque;
}

header h1 {
  margin-bottom: 20px;
}

header a {
  font-size: 30px;
  margin: 20px;
}